.navbar {
    background-color: #333;
    overflow: hidden;
    width: 100vw;
    position: fixed;
}
.left{
    float: left;
    display: flex;
}
.left a {
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 20px;
    height: auto;
}

.navbar a:hover {
    background-color: #312525;
    color: black;
}
.home{
    background-color: #618b5f;
    color: black;
}
.blog{
    background-color: #618b5f;
    color: black;
}
.contact{
    background-color: #618b5f;
    color: black;
}
.services{
    background-color: #618b5f;
    color: black;
}
img{
    float: right;
    margin-right: 30px;
    max-width: 50px;
    max-height: 50px;
}
.article{
    padding: 10px;
    border-radius: 25px;
    background-color:  #618b5f;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-right: 100px;
    float: left;
    width: 25%;
    text-align: center;
    object-fit: fill;
}
#feedb{
    width: 200px;
    height: 200px;
}
.footer {
    margin-top: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 33%; /* Three columns, each taking up one-third of the container */
    padding: 10px;
    border-radius: 25px;


    text-align: center;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .column {
        width: 100%;
    }
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #599659;
}
@media print {
    table{display:  none;}
}
.feedback{
    display: flex;
    align-items: center;
    justify-content: center;
}
.badge {
    background-color: red;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
}
.popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 9999;
}

.popup p {
    margin: 0;
}

.popup button {
    margin-top: 10px;
}