.navbar {
    background-color: mediumseagreen;
    overflow: hidden;
    width: 100vw;
    position: fixed;
}
.left{
    float: left;
    display: flex;
}
.left a {
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 20px;
    height: auto;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.home{
    background-color: #618b5f;
    color: black;
}
.blog{
    background-color: #618b5f;
    color: black;
}
.contact{
    background-color: #618b5f;
    color: black;
}
.services{
    background-color: #618b5f;
    color: black;
}
img{
    float: right;
    margin-right: 30px;
    max-width: 50px;
    max-height: 50px;
}
.article{
    padding: 10px;
    border-radius: 25px;
    background-color:  #618b5f;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 100px;
    float: left;
    width: 25%;
    text-align: center;
    object-fit: fill;
}
#feedb{
    width: 200px;
    height: 200px;
}/*
footer{

    padding: 16px;
    background-color: #260d0d;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    margin-top: 100rem;
}*/
.container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 33%; /* Three columns, each taking up one-third of the container */
    padding: 10px;
    border-radius: 25px;


    text-align: center;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .column {
        width: 100%;
    }
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #599659;
}
@media print {
    table{display:  none;}
}
.feedback{
    display: flex;
    align-items: center;
    justify-content: center;
}
.badge {
    background-color: red;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
}
